<button class="back" _="
  on click
    show #sidebar-main
    hide #sidebar-details
    call selectNode(null)
">Back</button>
<button class="hide" _="on click send hideSidebar to body">{{- self::icon("close")|safe ~}}</button>
<h1 style="font-weight: normal;">
    {%- if let (Some(short_name), Some(long_name)) = (node.short_name|ref, node.long_name|ref) -%}
        <strong>[{{ short_name }}]</strong> {{ long_name }}
    {%- else -%}
        <em>{{ node.user_id }}</em>
    {%- endif -%}
</h1>

{%- if let (updated_at, Some(last_rx_snr), Some(last_rx_rssi)) = (node.updated_at, node.last_rx_snr, node.last_rx_rssi) -%}
<p>Last message received <time datetime="{{ self::format_timestamp(updated_at) }}" class="relative">{{ updated_at }}</time>
            {%- if last_rx_snr != 0.0|ref && last_rx_rssi != 0|ref ~%}
                <small>({{"SNR: {:.1}, RSSI: {}"|format(last_rx_snr, last_rx_rssi)}})</small>
            {%- endif -%}
</p>
{%- endif -%}

{%- if let Some(uptime_seconds) = node.uptime_seconds -%}
    {%- if uptime_seconds != 0|ref ~%}
        <p>Uptime: {{self::format_duration_sec(uptime_seconds)}}</p>
    {%- endif -%}
{%- endif -%}

{% if let Some(selected_node) = selected_node %}
<section class="received-by-gateway">
<h2>Received by</h2>
{% if gateway_packet_info.len() > 1 %}
<p><small>Select a gateway to see the RSSI/SNR of received packets from this node.</small></p>
{% endif %}
<ul class="gateway-selector">
    {% for packet_info in gateway_packet_info %}
    <li class="{% if packet_info.gateway_id|ref == selected_node %}selected{% endif %}" hx-get="/node/{{ node.node_id|hex }}/details.html?gateway={{packet_info.gateway_id}}" hx-target="#sidebar-details" hx-swap="innerHTML">
        <span class="node-name fetch" data-node-id="{{ packet_info.raw_gateway_id() }}">{{ packet_info.gateway_id }}</span> ({{packet_info.num_packets}} packets)
    </li>
    {% endfor %}
</ul>
</section>
{%- endif -%}

{% for plot in plots %}
    <h2>{{plot.label}}</h2>
    {{ plot.svg|safe }}
{% endfor %}
