<dl>
    {% if let Some(gateway_id) = packet.gateway_id -%}
        <dt>Gateway</dt>
        <dd><span class="node-name fetch" data-node-id="{{ gateway_id|hex }}">!{{ gateway_id|hex }}</span></dd>
    {%- endif %}
    <dt>From</dt>
    <dd><span class="node-name fetch" data-node-id="{{ packet.from_id|hex }}">!{{ packet.from_id|hex }}</span></dd>
    {% if packet.to_id > 0 && packet.to_id < 0xffffffff %} <dt>To</dt>
        <dd><span class="node-name fetch" data-node-id="{{ packet.to_id|hex }}">!{{ packet.to_id|hex }}</span></dd>
    {% endif %}
    {% if let (Some(num_hops), Some(hop_start)) = (packet.num_hops, packet.hop_start) %}
        <dt>Hops</dt>
        <dd>{{num_hops}} / {{hop_start}}</dd>
    {% endif %}
    <dt>Received</dt>
    <dd>
        {% if packet.rx_time > 0 %}
        {{- self::icon("antenna")|safe ~}} <time datetime="{{ self::format_timestamp(packet.rx_time) }}"
            class="relative">{{ packet.rx_time }}</time>
        {% if packet.rx_rssi != 0 && packet.rx_snr != 0.0 %}
        <small>({{"SNR: {:.1}, RSSI: {}"|format(packet.rx_snr, packet.rx_rssi)}})</small>
        {% endif %}
        {% else %}
        <time datetime="{{ self::format_timestamp(packet.created_at) }}" class="relative">{{ packet.created_at }}</time>
        {% endif %}
    </dd>
    {% if packet.rx_time > 0 && (packet.rx_time - packet.created_at)|abs_ref / 1000000000 > 300 %}
    <dd>
        <time datetime="{{ self::format_timestamp(packet.created_at) }}" class="relative">{{ packet.created_at }}</time> <small>(server time)</small>
    </dd>
    {% endif %}
    {% if packet.want_ack || packet.want_response %}
    <dt>Flags</dt>
    <dd>{% if packet.want_ack %}want ack{% endif %} {% if packet.want_response %}want response{% endif %}</dd>
    {% endif %}
    <dt>Type</dt>
    <dd>{{packet.packet_type}}{% if packet.priority != "unset" %} (priority: {{packet.priority}}){% endif %}</dd>
    {% match packet.payload %}
    {% when Payload::TextMessage with (message) %}
    <dt>Message</dt>
    <dd>{{message}}</dd>
    {% when Payload::Waypoint with (waypoint) %}
    {% if let Some(name) = waypoint.name %}
    <dt>Name</dt>
    <dd>{{name}}</dd>
    {% endif %}
    {% if let Some(description) = waypoint.description %}
    <dt>Description</dt>
    <dd>{{description}}</dd>
    {% endif %}
    {% if let Some(icon) = waypoint.icon %}
    <dt>Icon</dt>
    <dd>{{icon}}</dd>
    {% endif %}
    {% if let (Some(longitude), Some(latitude)) = (waypoint.longitude, waypoint.latitude) %}
    <dt>Location</dt>
    <dd>{{self::format_mesh_gps(latitude, longitude)}}</dd>
    {% endif %}
    {% if let Some(expire) = waypoint.expire %}
    <dt>Expire</dt>
    <dd>{{self::format_timestamp(expire)}}</dd>
    {% endif %}
    {% if let Some(locked_to) = waypoint.locked_to %}
    <dt>Locked to</dt>
    <dd><span class="node-name fetch" data-node-id="{{ locked_to|hex }}">!{{ locked_to|hex }}</span></dd>
    {% endif %}
    {% when Payload::Position with (position) %}
    {% if let Some(seq_number) = position.seq_number %}
    <dt>Seq #</dt>
    <dd>{{seq_number}}</dd>
    {% endif %}
    {% if let (Some(longitude), Some(latitude)) = (position.longitude, position.latitude) %}
    <dt>Location</dt>
    <dd>{{self::format_mesh_gps(latitude, longitude)}}</dd>
    {% endif %}
    {% if let Some(altitude) = position.altitude %}
    <dt>Altitude</dt>
    <dd>{{altitude}} m</dd>
    {% endif %}
    {% if let Some(ground_speed) = position.ground_speed %}
    <dt>Ground speed</dt>
    <dd>{{ground_speed}} m/s</dd>
    {% endif %}
    {% if let Some(ground_track) = position.ground_track %}
    <dt>Ground track</dt>
    <dd>{{"{:.2}°"|format(ground_track|into_f64_ref * 1e-5)}}</dd>
    {% endif %}
    {% if let Some(sats_in_view) = position.sats_in_view %}
    <dt>Sats in view</dt>
    <dd>{{sats_in_view}}</dd>
    {% endif %}
    {% if let Some(precision_bits) = position.precision_bits %}
    <dt>Precision bits</dt>
    <dd>{{precision_bits}}</dd>
    {% endif %}
    {% when Payload::DeviceMetrics with (metrics) %}
    {% if let Some(time) = metrics.time %}
    <dt>Time</dt>
    <dd>{{self::format_timestamp(time)}}</dd>
    {% endif %}
    {% if let Some(battery_level) = metrics.battery_level %}
    <dt>Battery Level</dt>
    <dd>{{battery_level}}%</dd>
    {% endif %}
    {% if let Some(voltage) = metrics.voltage %}
    <dt>Voltage</dt>
    <dd>{{"{:.2} V"|format(voltage)}}</dd>
    {% endif %}
    {% if let Some(channel_utilization) = metrics.channel_utilization %}
    <dt>Channel util</dt>
    <dd>{{"{:.2}%"|format(channel_utilization)}}</dd>
    {% endif %}
    {% if let Some(air_util_tx) = metrics.air_util_tx %}
    <dt>Air util tx</dt>
    <dd>{{"{:.2}%"|format(air_util_tx)}}</dd>
    {% endif %}
    {%- if let Some(uptime_seconds) = metrics.uptime_seconds ~%}
    <dt>Uptime</dt>
    <dd>
        {{self::format_duration_sec(uptime_seconds)}}
    </dd>
    {%- endif -%}
    {% when Payload::EnvironmentMetrics with (metrics) %}
    {% if let Some(time) = metrics.time %}
    <dt>Time</dt>
    <dd>{{self::format_timestamp(time)}}</dd>
    {% endif %}
    {% if let Some(temperature) = metrics.temperature %}
    <dt>Temperature</dt>
    <dd>{{"{:.2} °C"|format(temperature)}}</dd>
    {% endif %}
    {% if let Some(relative_humidity) = metrics.relative_humidity %}
    <dt>Humidity</dt>
    <dd>{{"{:.2}%"|format(relative_humidity)}}</dd>
    {% endif %}
    {% if let Some(barometric_pressure) = metrics.barometric_pressure %}
    <dt>Pressure</dt>
    <dd>{{"{:.1} hPa"|format(barometric_pressure)}}</dd>
    {% endif %}
    {% if let Some(gas_resistance) = metrics.gas_resistance %}
    <dt>Gas resistance</dt>
    <dd>{{"{:.2}"|format(gas_resistance)}}</dd>
    {% endif %}
    {% if let Some(iaq) = metrics.iaq %}
    <dt>IAQ</dt>
    <dd>{{ iaq }}</dd>
    {% endif %}
    {% when Payload::PowerMetrics with (metrics) %}
    {% if let Some(time) = metrics.time %}
    <dt>Time</dt>
    <dd>{{self::format_timestamp(time)}}</dd>
    {% endif %}
    {% if let Some(ch1_voltage) = metrics.ch1_voltage %}
    <dt>CH1 Voltage</dt>
    <dd>{{"{:.3} V"|format(ch1_voltage)}}</dd>
    {% endif %}
    {% if let Some(ch1_current) = metrics.ch1_current %}
    <dt>CH1 Current</dt>
    <dd>{{"{:.6} A"|format(ch1_current)}}</dd>
    {% endif %}
    {% if let Some(ch2_voltage) = metrics.ch2_voltage %}
    <dt>CH2 Voltage</dt>
    <dd>{{"{:.3} V"|format(ch2_voltage)}}</dd>
    {% endif %}
    {% if let Some(ch2_current) = metrics.ch2_current %}
    <dt>CH2 Current</dt>
    <dd>{{"{:.6} A"|format(ch2_current)}}</dd>
    {% endif %}
    {% if let Some(ch3_voltage) = metrics.ch3_voltage %}
    <dt>CH3 Voltage</dt>
    <dd>{{"{:.3} V"|format(ch3_voltage)}}</dd>
    {% endif %}
    {% if let Some(ch3_current) = metrics.ch3_current %}
    <dt>CH3 Current</dt>
    <dd>{{"{:.6} A"|format(ch3_current)}}</dd>
    {% endif %}
    {% when Payload::Neighbors with (neighbors) %}
    {% for neighbor in neighbors %}
    <dt>Neighbor</dt>
    <dd>
        <span class="node-name fetch" data-node-id="{{ neighbor.neighbor_node_id|hex }}">!{{
            neighbor.neighbor_node_id|hex }}</span>
        {% if let Some(snr) = neighbor.snr %}
        <small>({{"SNR: {:.1}"|format(snr)}})</small>
        {% endif %}
    </dd>
    {% endfor %}
    {% when Payload::Traceroute with (traceroute) %}
    <dd>
        {% if traceroute.is_response %}
        Response
        {% else %}
        Request
        {% endif %}
    </dd>
    <dt>Start</dt>
    <dd>
        <span class="node-name fetch" data-node-id="{{ traceroute.from_id|hex }}">!{{ traceroute.from_id|hex
            }}</span>
    </dd>
    {% for node_id in traceroute.route %}
    <dt>Hop</dt>
    <dd>
        <span class="node-name fetch" data-node-id="{{ node_id|hex }}">!{{ node_id|hex }}</span>
    </dd>
    {% endfor%}
    <dt>End</dt>
    <dd>
        <span class="node-name fetch" data-node-id="{{ traceroute.to_id|hex }}">!{{ traceroute.to_id|hex }}</span>
    </dd>
    {% when Payload::Routing with (routing) %}
    {% if let Some(error_reason) = routing.error_reason %}
    <dt>Error reason</dt>
    <dd>{{error_reason}}</dd>
    {% else %}
    <dd>
        {{ routing.variant_name }}
    </dd>
    {% endif %}
    {% else %}
    {% endmatch %}
</dl>
