<li id="packet-{{packet.id}}">
    <dl>
        {% if let Some(gateway_id) = packet.gateway_id %}
        <dt>Gateway</dt>
        <dd><span class="node-name fetch" data-node-id="{{ gateway_id|hex }}">!{{ gateway_id|hex }}</span></dd>
        {% endif %}
        <dt>From</dt>
        <dd><span class="node-name fetch" data-node-id="{{ packet.from_id|hex }}">!{{ packet.from_id|hex }}</span></dd>
        {% if packet.to_id > 0 && packet.to_id < 0xffffffff %}
        <dt>To</dt>
        <dd><span class="node-name fetch" data-node-id="{{ packet.to_id|hex }}">!{{ packet.to_id|hex }}</span></dd>
        {% endif %}
        {% if let (Some(num_hops), Some(hop_start)) = (packet.num_hops, packet.hop_start) %}
        <dt>Hops</dt>
        <dd>{{num_hops}} / {{hop_start}}</dd>
        {% endif %}
        <dt>Sent</dt>
        <dd>
        {{- self::icon("antenna")|safe ~}} <time datetime="{{ self::format_timestamp(packet.rx_time) }}" class="relative">{{ packet.rx_time }}</time>
            {% if packet.rx_rssi != 0 && packet.rx_snr != 0.0 %}
                <small>({{"SNR: {:.1}, RSSI: {}"|format(packet.rx_snr, packet.rx_rssi)}})</small>
            {% endif %}
        </dd>
        {% if packet.want_ack || packet.want_response %}
        <dt>Flags</dt>
        <dd>{% if packet.want_ack %}want ack{% endif %} {% if packet.want_response %}want response{% endif %}</dd>
        {% endif %}
        <dt>Type</dt>
        <dd>{{packet.packet_type}}{% if packet.priority != "unset" %} (priority: {{packet.priority}}){% endif %}</dd>
        {% match packet.payload %}
            {% when Payload::TextMessage with (message) %}
                <dt>Message</dt>
                <dd>{{message}}</dd>
            {% when Payload::Waypoint with (waypoint) %}
                {% if waypoint.name != "" %}
                <dt>Name</dt>
                <dd>{{waypoint.name}}</dd>
                {% endif %}
                {% if waypoint.description != "" %}
                <dt>Description</dt>
                <dd>{{waypoint.description}}</dd>
                {% endif %}
                {% if waypoint.icon != "" %}
                <dt>Icon</dt>
                <dd>{{waypoint.icon}}</dd>
                {% endif %}
                <dt>Location</dt>
                <dd>{{self::format_mesh_gps(waypoint.latitude, waypoint.longitude)}}</dd>
                {% if let Some(expire) = waypoint.expire %}
                <dt>Expire</dt>
                <dd>{{self::format_timestamp(expire)}}</dd>
                {% endif %}
                {% if let Some(locked_to) = waypoint.locked_to %}
                <dt>Locked to</dt>
                <dd><span class="node-name fetch" data-node-id="{{ locked_to|hex }}">!{{ locked_to|hex }}</span></dd>
                {% endif %}
            {% when Payload::Position with (position) %}
                <dt>Location</dt>
                <dd>{{self::format_mesh_gps(position.latitude, position.longitude)}}</dd>
                {% if position.altitude != 0 %}
                <dt>Altitude</dt>
                <dd>{{position.altitude}} m</dd>
                {% endif %}
                {% if position.sats_in_view != 0 %}
                <dt>Sats in view</dt>
                <dd>{{position.sats_in_view}}</dd>
                {% endif %}
                {% if position.precision_bits != 0 %}
                <dt>Precision bits</dt>
                <dd>{{position.precision_bits}}</dd>
                {% endif %}
            {% when Payload::DeviceMetrics with (metrics) %}
                {% if let Some(time) = metrics.time %}
                <dt>Time</dt>
                <dd>{{self::format_timestamp(time)}}</dd>
                {% endif %}
                <dt>Battery Level</dt>
                <dd>{{metrics.battery_level}}%</dd>
                <dt>Voltage</dt>
                <dd>{{"{:.2} V"|format(metrics.voltage)}}</dd>
                <dt>Channel util</dt>
                <dd>{{"{:.2}%"|format(metrics.channel_utilization)}}</dd>
                <dt>Air util tx</dt>
                <dd>{{"{:.2}%"|format(metrics.air_util_tx)}}</dd>
                {%- if metrics.uptime_seconds > 0 ~%}
                <dt>Uptime</dt>
                <dd>
                    {{self::format_duration_sec(metrics.uptime_seconds)}}
                </dd>
                {%- endif -%}
            {% when Payload::EnvironmentMetrics with (metrics) %}
                {% if let Some(time) = metrics.time %}
                <dt>Time</dt>
                <dd>{{self::format_timestamp(time)}}</dd>
                {% endif %}
                {% if metrics.temperature != 0.0 %}
                <dt>Temperature</dt>
                    <dd>{{"{:.2} °C"|format(metrics.temperature)}}</dd>
                {% endif %}
                {% if metrics.relative_humidity != 0.0 %}
                <dt>Humidity</dt>
                <dd>{{"{:.2}%"|format(metrics.relative_humidity)}}</dd>
                {% endif %}
                {% if metrics.barometric_pressure != 0.0 %}
                <dt>Pressure</dt>
                <dd>{{"{:.1} hPa"|format(metrics.barometric_pressure)}}</dd>
                {% endif %}
                {% if metrics.gas_resistance != 0.0 %}
                <dt>Gas resistance</dt>
                <dd>{{"{:.2}"|format(metrics.gas_resistance)}}</dd>
                {% endif %}
                {% if metrics.iaq != 0 %}
                <dt>IAQ</dt>
                <dd>{{ metrics.iaq }}</dd>
                {% endif %}
            {% when Payload::PowerMetrics with (metrics) %}
                {% if let Some(time) = metrics.time %}
                <dt>Time</dt>
                <dd>{{self::format_timestamp(time)}}</dd>
                {% endif %}
                {% if metrics.ch1_voltage != 0.0 %}
                <dt>CH1 Voltage</dt>
                <dd>{{"{:.3} V"|format(metrics.ch1_voltage)}}</dd>
                {% endif %}
                {% if metrics.ch1_current != 0.0 %}
                <dt>CH1 Current</dt>
                <dd>{{"{:.6} A"|format(metrics.ch1_current)}}</dd>
                {% endif %}
                {% if metrics.ch2_voltage != 0.0 %}
                <dt>CH2 Voltage</dt>
                <dd>{{"{:.3} V"|format(metrics.ch2_voltage)}}</dd>
                {% endif %}
                {% if metrics.ch2_current != 0.0 %}
                <dt>CH2 Current</dt>
                <dd>{{"{:.6} A"|format(metrics.ch2_current)}}</dd>
                {% endif %}
                {% if metrics.ch3_voltage != 0.0 %}
                <dt>CH3 Voltage</dt>
                <dd>{{"{:.3} V"|format(metrics.ch3_voltage)}}</dd>
                {% endif %}
                {% if metrics.ch3_current != 0.0 %}
                <dt>CH3 Current</dt>
                <dd>{{"{:.6} A"|format(metrics.ch3_current)}}</dd>
                {% endif %}
            {% when Payload::Neighbors with (neighbors) %}
                {% for neighbor in neighbors %}
                    <dt>Neighbor</dt>
                    <dd>
                        <span class="node-name fetch" data-node-id="{{ neighbor.neighbor_node_id|hex }}">!{{ neighbor.neighbor_node_id|hex }}</span>
                        <small>({{"SNR: {:.1}"|format(neighbor.snr)}})</small>
                    </dd>
                {% endfor %}
            {% when Payload::Traceroute with (traceroute) %}
                <dd>
                    {% if traceroute.is_response %}
                        Response
                    {% else %}
                        Request
                    {% endif %}
                </dd>
                <dt>Start</dt>
                <dd>
                    <span class="node-name fetch" data-node-id="{{ traceroute.from_id|hex }}">!{{ traceroute.from_id|hex }}</span>
                </dd>
                {% for node_id in traceroute.route %}
                    <dt>Hop</dt>
                    <dd>
                        <span class="node-name fetch" data-node-id="{{ node_id|hex }}">!{{ node_id|hex }}</span>
                    </dd>
                {% endfor%}
                <dt>End</dt>
                <dd>
                    <span class="node-name fetch" data-node-id="{{ traceroute.to_id|hex }}">!{{ traceroute.to_id|hex }}</span>
                </dd>
            {% when Payload::Routing with (routing) %}
                {% if let Some(error_reason) = routing.error_reason %}
                    <dt>Error reason</dt>
                    <dd>{{error_reason}}</dd>
                {% else %}
                    <dd>
                        {{ routing.variant_name }}
                    </dd>
                {% endif %}
            {% else %}
        {% endmatch %}
    </dl>
</li>
