<dl>
    {% if let Some(gateway_id) = packet.gateway_id -%}
        <dt>Gateway</dt>
        <dd><span class="node-name fetch" data-node-id="{{ gateway_id|hex }}">!{{ gateway_id|hex }}</span></dd>
    {%- endif %}
    {% if packet.to_id > 0 && packet.to_id < 0xffffffff %} <dt>To</dt>
        <dd><span class="node-name fetch" data-node-id="{{ packet.to_id|hex }}">!{{ packet.to_id|hex }}</span></dd>
    {% endif %}
    {% if let (Some(num_hops), Some(hop_start)) = (packet.num_hops, packet.hop_start) %}
        <dt>Hops</dt>
        <dd>{{num_hops}} / {{hop_start}}</dd>
    {% endif %}
    <dt>Received</dt>
    <dd>
        {% if packet.rx_time > 0 %}
        {{- self::icon("antenna")|safe ~}} <time datetime="{{ self::format_timestamp(packet.rx_time) }}" class="absolute">{{ packet.rx_time }}</time>
        {% if packet.rx_rssi != 0 && packet.rx_snr != 0.0 %}
        <br>
        <small>({{"SNR: {:.1}, RSSI: {}"|format(packet.rx_snr, packet.rx_rssi)}})</small>
        {% endif %}
        {% else %}
        <time datetime="{{ self::format_timestamp(packet.created_at) }}" class="absolute">{{ packet.created_at }}</time>
        {% endif %}
    </dd>
    {% if packet.rx_time > 0 && (packet.rx_time - packet.created_at)|abs_ref / 1000000000 > 300 %}
    <dd>
        <time datetime="{{ self::format_timestamp(packet.created_at) }}" class="absolute">{{ packet.created_at }}</time> <small>(server time)</small>
    </dd>
    {% endif %}
    {% if packet.want_ack || packet.want_response %}
    <dt>Flags</dt>
    <dd>{% if packet.want_ack %}want ack{% endif %} {% if packet.want_response %}want response{% endif %}</dd>
    {% endif %}
    {% if let Payload::Position(position) = packet.payload %}
    {% if let Some(seq_number) = position.seq_number %}
    <dt>Seq #</dt>
    <dd>{{seq_number}}</dd>
    {% endif %}
    {% if let (Some(longitude), Some(latitude)) = (position.longitude, position.latitude) %}
    <dt>Location</dt>
    <dd>{{self::format_mesh_gps(latitude, longitude)}}</dd>
    {% endif %}
    {% if let Some(altitude) = position.altitude %}
    <dt>Altitude</dt>
    <dd>{{altitude}} m</dd>
    {% endif %}
    {% if let Some(ground_speed) = position.ground_speed %}
    <dt>Ground speed</dt>
    <dd>{{ground_speed}} m/s</dd>
    {% endif %}
    {% if let Some(ground_track) = position.ground_track %}
    <dt>Ground track</dt>
    <dd>{{"{:.2}°"|format(ground_track|into_f64_ref * 1e-5)}}</dd>
    {% endif %}
    {% if let Some(sats_in_view) = position.sats_in_view %}
    <dt>Sats in view</dt>
    <dd>{{sats_in_view}}</dd>
    {% endif %}
    {% if let Some(precision_bits) = position.precision_bits %}
    <dt>Precision bits</dt>
    <dd>{{precision_bits}}</dd>
    {% endif %}
    {% endif %}
</dl>
