{% extends "layout.html" %}
{% block body %}
<script type="text/hyperscript">
def updateNodes()
  tell <.node-name.fetch/> in <aside#sidebar />
    set selector to `#node-list-node-${you@data-node-id} .node-name`
    get the first <${selector}/> in body then
    if it exists set your innerHTML to its innerHTML
end
</script>
  <div id="map"></div>
  <aside id="sidebar" hidden>
    <button class="show" _="on click send showSidebar to body">{{- self::icon("menu")|safe ~}}</button>
    <div id="resizer"><div></div></div>
    <div id="sidebar-main">
      <div class="tab-content-container">
        <section id="nodes" class="tab-content">
          <button class="settings" _="on click toggle .visible on #settings">{{- self::icon("cogs")|safe ~}}</button>
          <button class="hide" _="on click send hideSidebar to body">{{- self::icon("close")|safe ~}}</button>

          <h1 id="node-header">Nodes</h1>
          <div id="settings">
            <label for="max-age">Show last 1 hour</label>
            <input type="range" list="max-age-marks" min="0" max="7" step="1" id="max-age" name="tick" value="1" _="
                on input put <datalist#max-age-marks option[value='${my.value}'] />'s innerHTML into <label[for='max-age'] />
                on input tell <aside#sidebar /> set @hx-headers to JSON.stringify({'x-meshstellar-max-age': <datalist#max-age-marks option[value='${my.value}'] />'s dataset.minutes[0]})
                on change send updateFilter(maxAge: <datalist#max-age-marks option[value='${my.value}'] />'s dataset.minutes[0]) to body
                "
            />
            <datalist id="max-age-marks">
                <option value="0" data-minutes="30">Show last 30 min</option>
                <option value="1" data-minutes="60">Show last 1 hour</option>
                <option value="2" data-minutes="180">Show last 3 hours</option>
                <option value="3" data-minutes="360">Show last 6 hours</option>
                <option value="4" data-minutes="720">Show last 12 hours</option>
                <option value="5" data-minutes="1440">Show last 24 hours</option>
                <option value="6" data-minutes="2880">Show last 48 hours</option>
                <option value="7" data-minutes="all">Show all</option>
            </datalist>
            <p class="input-note"><small>This option also influences how far back the position history goes.</small></p>

            <button class="about" _="on click showModal() on #about">About Meshstellar</button>
          </div>
          <ol class="node-list" sse-swap="update-node" hx-swap="afterbegin" _="on htmx:afterSwap debounced at 100ms updateNodes()">
          </ol>
        </section>

        <section id="packets" class="tab-content">
          <button class="hide" _="on click send hideSidebar to body">{{- self::icon("close")|safe ~}}</button>
          <h1>Packets</h1>
          <ol class="packet-list" sse-swap="mesh-packet,text-message" hx-swap="afterbegin" _="
            on htmx:afterSwap debounced at 100ms
              remove <li:nth-child(n+100) /> from me
              updateNodes()
          ">
          </ol>
        </section>

        <section id="messages" class="tab-content">
          <button class="hide" _="on click send hideSidebar to body">{{- self::icon("close")|safe ~}}</button>
          <h1>Messages</h1>
          <ol class="packet-list" sse-swap="text-message" hx-swap="afterbegin" _="
            on htmx:afterSwap debounced at 100ms
              remove <li:nth-child(n+100) /> from me
              updateNodes()
          ">
          </ol>
        </section>
      </div>

      <nav class="tab-bar">
        <a href="#nodes">Nodes</a>
        <a href="#packets">Packets</a>
        <a href="#messages">Messages</a>
      </nav>
    </div>

    <div id="sidebar-details" style="display: none;" _="
      on htmx:afterSwap debounced at 50ms
        hide #sidebar-main
        show #sidebar-details
        updateNodes()
    ">
    </div>
  </aside>
  <dialog id="about">
    <button class="close" _="on click close() on #about">Close</button>
    <h1>About</h1>
    {{- self::logo()|safe ~}}
    <p><strong>Meshstellar {{self::GIT_VERSION}}</strong></p>

    <p>For more information see <a href="https://github.com/jurriaan/meshstellar" target="_blank">meshstellar on GitHub</a></p>

    <div id="statistics" sse-swap="statistics">
    </div>
  </dialog>

{% endblock %}
